.wrapper {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  padding: 10px 38px 10px 12px;

  border-radius: 10px;
  border: 1px solid #ddd;

  background: #dfdfdf;
  font-size: 14px;

  // appearance: none;
  outline: none;

  cursor: pointer;

  transition: 0.2s ease;
}

.select:hover {
  border-color: #818181;
}

.select:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.15);
}