.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr; // 20% / 80%
  gap: 20px;
  padding: 20px;
}

/* Сайдбар */

.sidebar {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Товары */

.products {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

.products h3 {
  margin-bottom: 20px;
}

/* Сетка карточек */

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.reset {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #f3f3f3;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #e5e5e5;
  }
}

@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: 1;
  }

  .products {
    order: 2;
  }
}