.card {
  padding: 16px;
  border-radius: 16px;
//   width: 280px;
  height: 360px;
  background: white;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;

  display: flex;
  flex-direction: column;
  gap: 10px;

  cursor: pointer;
  overflow: hidden;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 13px;
    color: #555;
    margin: 0;
  }
}

.image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 12px;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 600;
  color: #111;
}

.rating {
  color: #f5a623;
  font-weight: 600;
}

/* обычная карточка */

.default {
  background: #ffffff;
  border: 1px solid #ececec;
}

/* premium карточка */

.premium {
  background: linear-gradient(135deg, #1e1e2f, #2d2d44);
  color: white;
  border: 1px solid gold;

  p {
    color: #d8d8d8;
  }

  .price {
    color: gold;
  }

  h3 {
    color: gold;
  }
}

/* кнопка */

.button {
  margin-top: auto;
  background: transparent;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #f3f3f3;
  }
}

/* адаптив */

@media (max-width: 768px) {
  .card {
    width: 240px;
    height: 340px;
  }

  .image {
    height: 150px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 200px;
    height: 320px;
  }

  .image {
    height: 130px;
  }
}